<style>
    input {
        margin-left: 1.5rem !important;
    }
    label {
        margin-left: 3rem !important;
    }
</style>
<div id="signupbox" style="margin-top:50px">
    <form id="forms" class="form-horizontal">

        <!--QUESTION 21 C-->
        <div class="form-group">
            <h3>QUESTION 21</h3>

            <p class="text-info">
                This question requires that you evaluate the underlined text to determine if it is correct.
            </p>
            <p>
                When you need to delegate permissions to several Azure virtual machines simultaneously, you must deploy the Azure virtual machines <u>to the same Azure region.</u>
            </p>
            <p class="text-info">
                Instructions: Review the underlined text. If it makes the statement correct, select “No change is needed”. If the statement is incorrect, select the answer choice that
                    makes the statement correct.
            </p> 

            <input class="form-check-input" type="radio" name="Question-21C" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-21">
                A. No change is needed
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-21C" value="Errado"/> 
            <label class="form-check-label" for="Radios-Question-21">
                B. by using the same Azure Resource Manager template
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-21C" value="Correto"/>
            <label class="form-check-label correto" for="Radios-Question-21">
                C. to the same resource group
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-21C" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-21">
                D. to the same availability zone
            </label>
        </div>


        <!--QUESTION 22 C-->
        <div class="form-group">
            <h3>QUESTION 22</h3>

            <p>
                A team of developers at your company plans to deploy, and then remove, 50 customized virtual machines each week. Thirty of the virtual machines run Windows
                Server 2016 and 20 of the virtual machines run Ubuntu Linux.
            </p>
            <p>
                You need to recommend which Azure service will minimize the administrative effort required to deploy and remove the virtual machines.
            </p>
            <p>
                What should you recommend?
            </p> 

            <input class="form-check-input" type="radio" name="Question-22C" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-22">
                A. Azure Reserved Virtual Machines (VM) Instances
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-22C" value="Errado"/> 
            <label class="form-check-label" for="Radios-Question-22">
                B. Azure virtual machine scale sets
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-22C" value="Correto"/>
            <label class="form-check-label correto" for="Radios-Question-22">
                C. Azure DevTest Labs
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-22C" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-22">
                D. Microsoft Managed Desktop
            </label>
        </div>



        <!--QUESTION 23 A-->
        <div class="form-group">
            <div>
                <h3>QUESTION 23</h3>

                <p class="text-info">
                    This question requires that you evaluate the underlined text to determine if it is correct.
                </p>

                <p>
                    One of the benefits of Azure SQL Data Warehouse is that <u>high availability</u> is built into the platform.
                </p>

                <p class="text-info">
                    Instructions: Review the underlined text. If it makes the statement correct, select “No change is needed”. If the statement is incorrect, select the answer choice that
                    makes the statement correct.                        
                </p>

                <input class="form-check-input" type="radio" name="Question-23A" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-23">
                    A. No change is needed
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-23A" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-23">
                    B. automatic scaling
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-23A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-23">
                    C. data compression
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-23A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-23">
                    D. versioning
                </label>

            </div>
        </div>



        <!--QUESTION 24 A/C-->
        <div class="form-group">
            <div>
                <h3>QUESTION 24</h3>

                <p>
                    You plan to store 20 TB of data in Azure. The data will be accessed infrequently and visualized by using Microsoft Power BI.
                    You need to recommend a storage solution for the data.                        
                </p>
                <p>
                    Which two solutions should you recommend? Each correct answer presents a complete solution.
                </p>

                <p class="text-info">
                    NOTE: Each correct selection is worth one point.                      
                </p>

                <input class="form-check-input" type="radio" name="Question-24(A/C)" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-24(A/C)">
                    A. Azure Data Lake
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-24(A/C)" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-24(A/C)">
                    B. Azure Cosmos DB
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-24(A/C)" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-24(A/C)">
                    C. Azure SQL Data Warehouse
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-24(A/C)" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-24(A/C)">
                    D. Azure SQL Database
                </label>

            </div>
        </div>



        <!--QUESTION 25 D-->
        <div class="form-group">
            <h3>QUESTION 25</h3>
            <p>
                You need to identify the type of failure for which an Azure availability zone can be used to protect access to Azure services.
                What should you identify?
            </p>

            <input class="form-check-input" type="radio" name="Question-25D" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-25">
                A. a physical server failure
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-25D" value="Errado"/> 
            <label class="form-check-label" for="Radios-Question-25">
                B. an Azure region failure
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-25D" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-25">
                C. a storage failure
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-25D" value="Correto"/>
            <label class="form-check-label correto" for="Radios-Question-25">
                D. an Azure data center failure
            </label>
        </div>



        <!--QUESTION 26 B-->
        <div class="form-group">
            <h3>QUESTION 26</h3>
            <p>
                You have a virtual machine named VM1 that runs Windows Server 2016. VM1 is in the East US Azure region.
                Which Azure service should you use from the Azure portal to view service failure notifications that can affect the availability of VM1?
            </p>

            <input class="form-check-input" type="radio" name="Question-26B" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-26">
                A. Azure Service Fabric
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-26B" value="Correto"/> 
            <label class="form-check-label correto" for="Radios-Question-26">
                B. Azure Monitor
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-26B" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-26">
                C. Azure virtual machines
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-26B" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-26">
                D. Azure Advisor
            </label>
        </div>

        

        <!--QUESTION 27 NO B-->
        <div class="form-group">
            <h3>QUESTION 27</h3>
            
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
            </p>
            <p class="text-info">
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
            </p>
            <p>
                An Azure administrator plans to run a PowerShell script that creates Azure resources.
                You need to recommend which computer configuration to use to run the script.                    
            </p>
            <p>
                Solution: Run the script from a computer that runs Linux and has the Azure CLI tools installed.
            </p>
            <p>
                Does this meet the goal?
            </p>

            <input class="form-check-input" type="radio" name="Question-27B" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-27">
                A. Yes
            </label>
            <br>
            <input class="form-check-input" type="radio" name="Question-27B" value="Correto"/> 
            <label class="form-check-label correto" for="Radios-Question-27">
                B. No
            </label>
        </div>



        <!--QUESTION 28 NO B-->
        <div class="form-group">
            <h3>QUESTION 28</h3>
            
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
            </p>
            <p class="text-info">
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
            </p>
            <p>
                An Azure administrator plans to run a PowerShell script that creates Azure resources.
                You need to recommend which computer configuration to use to run the script.                 
            </p>
            <p>
                Solution: Run the script from a computer that runs Chrome OS and uses Azure Cloud Shell.
            </p>
            <p>
                Does this meet the goal?
            </p>

            <input class="form-check-input" type="radio" name="Question-28B" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-28">
                A. Yes
            </label>
            <br>
            <input class="form-check-input" type="radio" name="Question-28B" value="Correto"/> 
            <label class="form-check-label correto" for="Radios-Question-28">
                B. No
            </label>
        </div>





        <!--QUESTION 29 NO B-->
        <div class="form-group">
            <h3>QUESTION 29</h3>
            
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
            </p>
            <p class="text-info">
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
            </p>
            <p>
                An Azure administrator plans to run a PowerShell script that creates Azure resources.
                You need to recommend which computer configuration to use to run the script.                 
            </p>
            <p>
                Solution: Run the script from a computer that runs macOS and has PowerShell Core 6.0 installed.
            </p>
            <p>
                Does this meet the goal?
            </p>

            <input class="form-check-input" type="radio" name="Question-29B" value="Correto"/>
            <label class="form-check-label correto" for="Radios-Question-29">
                A. Yes
            </label>
            <br>
            <input class="form-check-input" type="radio" name="Question-29B" value="Errado"/> 
            <label class="form-check-label" for="Radios-Question-29">
                B. No
            </label>
        </div>


        <!--QUESTION 30 D-->
        <div class="form-group">
            <h3>QUESTION 30</h3>
            <p>
                You have an Azure environment that contains 10 virtual networks and 100 virtual machines.
                You need to limit the amount of inbound traffic to all the Azure virtual networks.
                What should you create?
            </p>

            <input class="form-check-input" type="radio" name="Question-30D" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-30">
                A. one network security group (NSG)
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-30D" value="Errado"/> 
            <label class="form-check-label" for="Radios-Question-30">
                B. 10 virtual network gateways
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-30D" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-30">
                C. 10 Azure ExpressRoute circuits
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-30D" value="Correto"/>
            <label class="form-check-label correto" for="Radios-Question-30">
                D. one Azure firewall
            </label>
        </div>


        <hr>
        <button type="button"  id="btnSubmit" class="btn btn-primary" data-toggle="modal" data-target="#modal-id">
            FINALIZAR TESTE
        </button>

        <button type="button"  id="limparCampos" class="btn btn-primary" >
            LIMPAR CAMPOS
        </button>

        <hr>

        <!-- Modal -->
        <div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="id-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="id-modal-label">RESULTADO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>



                    <div class="modal-body">
                        <div id="resultado"></div>
                        <div class="card border-dark mb-3 ml-3" style="max-width: 22rem;">
                            
                            <div class="card-header">TOTAL DE ACERTOS</div>

                            <div id ="pieChartContent2" class="card-body">
                                <canvas 
                                    id="graficoResultado" 
                                    width="80" 
                                    height="50">
                                </canvas>
                            </div>
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        <hr>
    </form>
</div>
