<style>
    input {
        margin-left: 1.5rem !important;
    }
    label {
        margin-left: 3rem !important;
    }
</style>

<div id="signupbox" style="margin-top:50px"></div>
    <form id="forms" class="form-horizontal">

        <!--QUESTION 01 D-->
        <div class="form-group">
            <div>
                <h3>QUESTION 01</h3>
                <span 
                    class="badge badge-pill badge-info"
                    tabindex="0" 
                    data-toggle="tooltip" 
                    title="Explanation:
                When you are implementing a Software as a Service (SaaS) solution, you are responsible for configuring the SaaS solution. 
                Everything else is managed by the cloud provider.
                SaaS requires the least amount of management. The cloud provider is responsible for managing everything, 
                and the end user just uses the software.
                Software as a service (SaaS) allows users to connect to and use cloud-based apps over the Internet. 
                Common examples are email, calendaring and office tools (such as Microsoft Office 365).
                SaaS provides a complete software solution which you purchase on a pay-as-you-go basis from a cloud service provider. 
                You rent the use of an app for your organization and your users connect to it over the Internet, usually with a web browser. 
                All of the underlying infrastructure, middleware, app software and app data
                are located in the service provider’s data center. The service provider manages the hardware and software and with the 
                appropriate service agreement, will ensure
                the availability and the security of the app and your data as well."
                >i</span>

                <p class="text-info">
                    This question requires that you evaluate the underlined text to determine if it is correct.
                </p> 
                <p>
                    When you are implementing a Software as a Service (SaaS) solution, you are responsible for <u>configuring high availability.</u>
                </p>
                <p class="text-info">
                    Instructions: Review the underlined text. If it makes the statement correct, select “No change is needed”. 
                    If the statement is incorrect, select the answer choice that
                    makes the statement correct.
                </p>

                <input class="form-check-input" type="radio"  name="Question-01" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-01">
                  A. No change is needed.
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-01" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-01">
                    B. defining scalability rules
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-01" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-01">
                    C. installing the SaaS solution
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-01" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-01">
                    D. configuring the SaaS solution
                </label>

            </div>
        </div>
        <hr>

        <!--QUESTION 02 A-->
        <div class="form-group">
            <div>
                <h3>QUESTION 02</h3>
                <span 
                    class="badge badge-pill badge-info"
                    tabindex="0" 
                    data-toggle="tooltip" 
                    title="Explanation:
                    Fault tolerance is the ability of a system to continue to function in the event of a failure of some of its components.
                    In this question, you could have servers that are replicated across datacenters.
                    Availability zones expand the level of control you have to maintain the availability of the applications and data on your VMs. Availability Zones are unique physical
                    locations within an Azure region. Each zone is made up of one or more datacenters equipped with independent power, cooling, and networking. To ensure
                    resiliency, there are a minimum of three separate zones in all enabled regions. The physical separation of Availability Zones within a region protects applications
                    and data from datacenter failures.
                    With Availability Zones, Azure offers industry best 99.99% VM uptime SLA. By architecting your solutions to use replicated VMs in zones, you can protect your
                    applications and data from the loss of a datacenter. If one zone is compromised, then replicated apps and data are instantly available in another zone.
                    "
                >i</span>

                <p>
                    You have an on-premises network that contains several servers.
                    <br>
                    You plan to migrate all the servers to Azure.
                    <br>
                    You need to recommend a solution to ensure that some of the servers are available if a single Azure data center goes offline for an extended period.
                    <br>
                    What should you include in the recommendation?
                </p>


                <input class="form-check-input" type="radio"  name="Question-02" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-02">
                  A. fault tolerance
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-02" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-02">
                    B. elasticity
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-02" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-02">
                    C. scalability
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-02" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-02">
                    D. low latency
                </label>

            </div>
        </div>
        <hr>

        <!--QUESTION 03 C-->
        <div class="form-group">
            <div>
                <h3>QUESTION 03</h3>
                <span 
                    class="badge badge-pill badge-info"
                    tabindex="0" 
                    data-toggle="tooltip" 
                    title="Explanation:
                    A private cloud is hosted in your datacenter. Therefore, you cannot close your datacenter if you are using a private cloud.
                    A public cloud is hosted externally, for example, in Microsoft Azure. An organization that hosts its infrastructure in a public cloud can close its data center.
                    Public cloud is the most common deployment model. In this case, you have no local hardware to manage or keep up-to-date – everything runs on your cloud
                    provider's hardware.
                    Microsoft Azure is an example of a public cloud provider.
                    In a private cloud, you create a cloud environment in your own datacenter and provide self-service access to compute resources to users in your organization. This
                    offers a simulation of a public cloud to your users, but you remain completely responsible for the purchase and maintenance of the hardware and software services
                    you provide."
                >i</span>
                
                <p class="text-info">
                    This question requires that you evaluate the underlined text to determine if it is correct.
                </p> 

                <p>
                    An organization that hosts its infrastructure <u>in a private cloud</u> can close its data center.
                </p>

                <p class="text-info">
                    Instructions: Review the underlined text. If it makes the statement correct, select “No change is needed”. 
                    If the statement is incorrect, select the answer choice that
                    makes the statement correct.
                </p>

                <input class="form-check-input" type="radio"  name="Question-03" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-03">
                    A. No change is needed.
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-03" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-03">
                    B. in a hybrid cloud
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-03" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-03">
                    C. in the public cloud
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-03" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-03">
                    D. on a Hyper-V host
                </label>

            </div>
        </div>
        <hr>

        <!--QUESTION 04 DE-->
        <div class="form-group">
            <div>
                <h3>QUESTION 04</h3>
                <span 
                    class="badge badge-pill badge-info"
                    tabindex="0" 
                    data-toggle="tooltip" 
                    title="Explanation:
                    With the public cloud, you get pay-as-you-go pricing – you pay only for what you use, no CapEx costs.
                    With the public cloud, you have self-service management. You are responsible for the deployment and configuration of the cloud resources such as virtual
                    machines or web sites. The underlying hardware that hosts the cloud resources is managed by the cloud provider.
                    Incorrect Answers:
                    A: You don’t have dedicated hardware. The underlying hardware is shared so you could have multiple customers using cloud resources hosted on the same
                    physical hardware.
                    B: Connections to the public cloud are secure.
                    C: Storage is not limited. You can have as much storage as you like."
                >i</span>

                <p>
                    What are two characteristics of the public cloud? 
                </p>

                <p class="text-info">
                    Each correct answer presents a complete solution.
                    <br>
                    NOTE: Each correct selection is worth one point.
                </p>

                <input class="form-check-input" type="radio"  name="Question-04" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-04">
                    A. dedicated hardware
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-04" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-04">
                    B. unsecured connections
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-04" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-04">
                    C. limited storage
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-04" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-04">
                    D. metered pricing
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-04" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-04">
                    E. self-service management
                </label>

            </div>
        </div>
        <hr>

        <!--QUESTION 05 YES A-->
        <div class="form-group">
            <h3>QUESTION 05</h3>
            <span 
                    class="badge badge-pill badge-info"
                    tabindex="0" 
                    data-toggle="tooltip" 
                    title="Explanation:
                        Azure App Service and Azure SQL databases are examples of Azure PaaS solutions. 
                        Therefore, this solution does meet the goal."
            >i</span>
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
                <br>
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen. 
            </p>
            <p>
                Your company plans to migrate all its data and resources to Azure.
                <br>
                The company’s migration plan states that only Platform as a Service (PaaS) solutions must be used in Azure.
                <br>
                You need to deploy an Azure environment that meets the company migration plan.
                <br>
                Solution: You create an Azure App Service and Azure SQL databases.
                <br>
                Does this meet the goal?
            </p>

            <input class="form-check-input" type="radio" name="Question-05" value="Correto"/>
            <label class="form-check-label correto" for="Radios-Question-05">
                A. Yes
            </label>
            <br>
            <input class="form-check-input" type="radio" name="Question-05" value="Errado"/> 
            <label class="form-check-label" for="Radios-Question-05">
                B. No
            </label>
        </div>
        <hr>        

        <!--QUESTION 06 NO B-->
        <div class="form-group">
            <h3>QUESTION 06</h3>
            <span 
                    class="badge badge-pill badge-info"
                    tabindex="0" 
                    data-toggle="tooltip" 
                    title="Explanation:
                        Azure App Service is a PaaS (Platform as a Service) service. However, Azure virtual machines are an IaaS (Infrastructure as a Service) service. Therefore, this
                        solution does not meet the goal."
            >i</span>
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
                <br>
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen. 
            </p>
            <p>
                Your company plans to migrate all its data and resources to Azure.
                <br>
                The company’s migration plan states that only Platform as a Service (PaaS) solutions must be used in Azure.
                <br>
                You need to deploy an Azure environment that meets the company migration plan.
                <br>
                Solution: You create an Azure App Service and Azure virtual machines that have Microsoft SQL Server installed.
                <br>
                Does this meet the goal?
            </p>

            <input class="form-check-input" type="radio" name="Question-06" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-06">
                A. Yes
            </label>
            <br>
            <input class="form-check-input" type="radio" name="Question-06" value="Correto"/> 
            <label class="form-check-label correto" for="Radios-Question-06">
                B. No
            </label>
        </div>
        <hr>  


        <!--QUESTION 07 NO B-->
        <div class="form-group">
            <h3>QUESTION 07</h3>
            <span 
                    class="badge badge-pill badge-info"
                    tabindex="0" 
                    data-toggle="tooltip" 
                    title="Explanation:
                        Azure App Service is a PaaS (Platform as a Service) service. However, Azure Storage accounts are an IaaS (Infrastructure as a Service) service. Therefore, this
                        solution does not meet the goal."
            >i</span>
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
                <br>
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen. 
            </p>
            <p>
                Your company plans to migrate all its data and resources to Azure.
                <br>
                The company’s migration plan states that only Platform as a Service (PaaS) solutions must be used in Azure.
                <br>
                You need to deploy an Azure environment that meets the company migration plan.
                <br>
                Solution: You create an Azure App Service and Azure Storage accounts.
                <br>
                Does this meet the goal?
            </p>

            <input class="form-check-input" type="radio" name="Question-07" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-07">
                A. Yes
            </label>
            <br>
            <input class="form-check-input" type="radio" name="Question-07" value="Correto"/> 
            <label class="form-check-label correto" for="Radios-Question-07">
                B. No
            </label>
        </div>
        <hr>


        <!--QUESTION 08 C-->
        <div class="form-group">
            <div>
                <h3>QUESTION 08</h3>
                <span 
                    class="badge badge-pill badge-info"
                    tabindex="0" 
                    data-toggle="tooltip" 
                    title="Explanation:
                    Elasticity in this case is the ability to provide additional compute resource when needed and reduce the compute resource when not needed to reduce costs.
                    Autoscaling is an example of elasticity.
                    Elastic computing is the ability to quickly expand or decrease computer processing, memory and storage resources to meet changing demands without worrying
                    about capacity planning and engineering for peak usage. Typically controlled by system monitoring tools, elastic computing matches the amount of resources
                    allocated to the amount of resources actually needed without disrupting operations. With cloud elasticity, a company avoids paying for unused capacity or idle
                    resources and doesn’t have to worry about investing in the purchase or maintenance of additional resources and equipment."
                >i</span>
        
                <p>
                    Your company hosts an accounting application named App1 that is used by all the customers of the company.
                    <br>
                    App1 has low usage during the first three weeks of each month and very high usage during the last week of each month.
                    <br>
                    Which benefit of Azure Cloud Services supports cost management for this type of usage pattern?
                </p>

                <input class="form-check-input" type="radio"  name="Question-08" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-08">
                    A. high availability
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-08" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-08">
                    B. high latency
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-08" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-08">
                    C. elasticity
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-08" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-08">
                    D. load balancing
                </label>

            </div>
        </div>
        <hr>


        <!--QUESTION 09 D-->
        <div class="form-group">
            <div>
                <h3>QUESTION 09</h3>
                <span 
                    class="badge badge-pill badge-info"
                    tabindex="0" 
                    data-toggle="tooltip" 
                    title="Explanation:
                    The public cloud is a shared entity whereby multiple corporations each use a portion of the resources in the cloud. The hardware resources (servers, infrastructure
                    etc.) are managed by the cloud provider. Multiple companies create resources such as virtual machines and virtual networks on the hardware resources.
                    Incorrect Answers:
                    A: The public cloud is not owned by the public. In the case of Microsoft Azure, the cloud is owned by Microsoft.
                    B: The public cloud is a not crowd-sourcing solution. In the case of Microsoft Azure, the cloud is owned by Microsoft.
                    C: It is not true that public cloud resources can be freely accessed by every member of the public. You pay for a cloud subscription and create accounts for your
                    users to access your cloud resources. No one can access your cloud resources until you create user accounts and provide the appropriate access permissions."
                >i</span>

                <p>
                    You plan to migrate several servers from an on-premises network to Azure.
                    <br>
                    What is an advantage of using a public cloud service for the servers over an on-premises network?
                </p>

                <input class="form-check-input" type="radio"  name="Question-09" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-09">
                    A. The public cloud is owned by the public, NOT a private corporation
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-09" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-09">
                    B. The public cloud is a crowd-sourcing solution that provides corporations with the ability to enhance the cloud
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-09" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-09">
                    C. All public cloud resources can be freely accessed by every member of the public
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-09" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-09">
                    D. The public cloud is a shared entity whereby multiple corporations each use a portion of the resources in the cloud
                </label>

            </div>
        </div>
        <hr>


        <!--QUESTION 10 NO B-->
        <div class="form-group">
            <h3>QUESTION 10</h3>
            <span 
                    class="badge badge-pill badge-info"
                    tabindex="0" 
                    data-toggle="tooltip" 
                    title="Explanation:
                        This answer does not specify that the scale set will be configured across multiple data centers so this solution does not meet the goal.
                        Azure virtual machine scale sets let you create and manage a group of load balanced VMs. The number of VM instances can automatically increase or decrease in
                        response to demand or a defined schedule. Scale sets provide high availability to your applications, and allow you to centrally manage, configure, and update many
                        VMs.
                        Virtual machines in a scale set can be deployed across multiple update domains and fault domains to maximize availability and resilience to outages due to data
                        center outages, and planned or unplanned maintenance events."
            >i</span>
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
                <br>
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen. 
            </p>
            <p>
                You plan to deploy several Azure virtual machines.
                <br>
                You need to ensure that the services running on the virtual machines are available if a single data center fails.
                <br>
                Solution: You deploy the virtual machines to two or more scale sets.
                <br>
                Does this meet the goal?
            </p>

            <input class="form-check-input" type="radio" name="Question-10" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-10">
                A. Yes
            </label>
            <br>
            <input class="form-check-input" type="radio" name="Question-10" value="Correto"/> 
            <label class="form-check-label correto" for="Radios-Question-10">
                B. No
            </label>
        </div>
        <hr>



        <button type="button"  id="btnSubmit" class="btn btn-primary" data-toggle="modal" data-target="#modal-id">
            FINALIZAR TESTE
        </button>

        <button type="button"  id="limparCampos" class="btn btn-primary" >
            LIMPAR CAMPOS
        </button>

        <hr>

        <!-- Modal -->
        <div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="id-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="id-modal-label">RESULTADO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>



                    <div class="modal-body">
                        <div id="resultado"></div>
                        <div class="card border-dark mb-3 ml-3" style="max-width: 22rem;">
                            
                            <div class="card-header">TOTAL DE ACERTOS</div>

                            <div id ="pieChartContent2" class="card-body">
                                <canvas 
                                    id="graficoResultado" 
                                    width="80" 
                                    height="50">
                                </canvas>
                            </div>
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </form>
</div>
