
<div id="signupbox" style="margin-top:50px">

    <form id="forms" class="form-horizontal">

        <!--QUESTION 1 A-->
        <div class="form-group">
            <div>
                <h3>QUESTION 1</h3>
                <p class="text-info">
                    This question requires that you evaluate the underlined text to determine if it is correct.
                </p>
                <p>
                    When planning to migrate a public website to Azure, you must plan to pay <u>monthly usage costs.</u>
                </p>   
                <p class="text-info">
                    Instructions: Review the underlined text. If it makes the statement correct, select “No change is needed”. If the statement is incorrect, select the answer choice that
                    makes the statement correct.
                </p>

                <input class="form-check-input ml-2" type="radio" name="Question-1A" value="Correto"/>
                <label class="form-check-label ml-4 correto" for="Radios-Question-1">
                    A. No change is needed
                </label>
                <br>

                <input class="form-check-input ml-2" type="radio" name="Question-1A" value="Errado"/> 
                <label class="form-check-label ml-4" for="Radios-Question-1">
                    B. Deploy a VPN
                </label>
                <br>

                <input class="form-check-input ml-2" type="radio" name="Question-1A" value="Errado"/>
                <label class="form-check-label ml-4" for="Radios-Question-1">
                    C. pay to transfer all the website data to Azure
                </label>
                <br>

                <input class="form-check-input ml-2" type="radio" name="Question-1A" value="Errado"/>
                <label class="form-check-label ml-4" for="Radios-Question-1">
                    D. reduce the number of connections to the website
                </label>

            </div>
        </div>
    

        <!--QUESTION 2 YES A-->
        <div class="form-group">
            <h3>QUESTION 2</h3>
                <p class="text-info">
                    Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                    meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
                    After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
                </p>  
                <p> 
                    Your company plans to migrate all its data and resources to Azure.
                    The company’s migration plan states that only platform as a service (PaaS) solutions must be used in Azure.
                    You need to deploy an Azure environment that supports the planned migration.
                    Solution: You create an Azure App Service and Azure SQL databases.

                    Does this meet the goal?
                </p>



            <input class="form-check-input ml-2" type="radio" name="Question-2A" value="Correto"/>
            <label class="form-check-label ml-4 correto" for="Radios-Question-2">
                A. Yes
            </label>
            <br>
            <input class="form-check-input ml-2" type="radio" name="Question-2A" value="Errado"/> 
            <label class="form-check-label ml-4" for="Radios-Question-2">
                B. No
            </label>
        </div>



        <!--QUESTION 3 NO B-->
        <div class="form-group">
            <h3>QUESTION 3</h3>
            
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
            </p>
            <p class="text-info">
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
            </p>
            <p>
                Your company plans to migrate all its data and resources to Azure.
                The company’s migration plan states that only platform as a service (PaaS) solutions must be used in Azure.
                You need to deploy an Azure environment that supports the planned migration.
                Solution: You create an Azure App Service and Azure virtual machines that have Microsoft SQL Server installed.
                Does this meet the goal?
            <p>

            <input class="form-check-input ml-2" type="radio" name="Question-3B" value="Errado"/>
            <label class="form-check-label ml-4" for="Radios-Question-3">
                A. Yes
            </label>
            <br>
            <input class="form-check-input ml-2" type="radio" name="Question-3B" value="Correto"/> 
            <label class="form-check-label ml-4 correto" for="Radios-Question-3">
                B. No
            </label>
        </div>



        <!--QUESTION 4 NO B-->
        <div class="form-group">
            <h3>QUESTION 4</h3>
            
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
            </p>
            <p class="text-info">
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
            </p>
            <p>
                Your company plans to migrate all its data and resources to Azure.
                The company’s migration plan states that only platform as a service (PaaS) solutions must be used in Azure.
                You need to deploy an Azure environment that supports the planned migration.
                Solution: You create an Azure App Service and Azure Storage accounts.
                Does this meet the goal?
            <p>

            <input class="form-check-input ml-2" type="radio" name="Question-4B" value="Errado"/>
            <label class="form-check-label ml-4" for="Radios-Question-4">
                A. Yes
            </label>
            <br>
            <input class="form-check-input ml-2" type="radio" name="Question-4B" value="Correto"/> 
            <label class="form-check-label ml-4 correto" for="Radios-Question-4">
                B. No
            </label>
        </div>




        <!--QUESTION 5 C-->
        <div class="form-group">
            <h3>QUESTION 5</h3>

            <p>
                Your company hosts an accounting named App1 that is used by all the customers of the company.
                App1 has low usage during the first three weeks of each month and very high usage during the last week of each month.
                Which benefit of Azure Cloud Services supports cost management for this type of usage pattern?
            </p>

            <input class="form-check-input ml-2" type="radio" name="Question-5C" value="Errado"/>
            <label class="form-check-label ml-4" for="Radios-Question-5">
                A. high availability
            </label>
            <br>

            <input class="form-check-input ml-2" type="radio" name="Question-5C" value="Errado"/> 
            <label class="form-check-label ml-4" for="Radios-Question-5">
                B. high latency
            </label>
            <br>

            <input class="form-check-input ml-2" type="radio" name="Question-5C" value="Correto"/>
            <label class="form-check-label ml-4 correto" for="Radios-Question-5">
                C. elasticit
            </label>
            <br>

            <input class="form-check-input ml-2" type="radio" name="Question-5C" value="Errado"/>
            <label class="form-check-label ml-4" for="Radios-Question-5">
                D. load balancing
            </label>
        </div>
        

        <!--QUESTION 6 B-->
        <div class="form-group">
            <h3>QUESTION 6</h3>
            <p>
                You plan to migrate a web application to Azure. The web application is accessed by external users.
                You need to recommend a cloud deployment solution to minimize the amount of administrative effort used to manage the web application.
                What should you include in the recommendation?
            </p>

            <input class="form-check-input ml-2" type="radio" name="Question-6B" value="Errado"/>
            <label class="form-check-label ml-4" for="Radios-Question-6">
                A. software as a service (SaaS)
            </label>
            <br>

            <input class="form-check-input ml-2" type="radio" name="Question-6B" value="Correto"/> 
            <label class="form-check-label ml-4 correto" for="Radios-Question-6">
                B. platform as a service (PaaS)
            </label>
            <br>

            <input class="form-check-input ml-2" type="radio" name="Question-6B" value="Errado"/>
            <label class="form-check-label ml-4" for="Radios-Question-6">
                C. infrastructure as a service (IaaS)
            </label>
            <br>

            <input class="form-check-input ml-2" type="radio" name="Question-6B" value="Errado"/>
            <label class="form-check-label ml-4" for="Radios-Question-6">
                D. database as a service (DaaS)
            </label>
        </div>
        
        
        <!--QUESTION 7 D-->
        <div class="form-group">
            <h3>QUESTION 7</h3>

            <p>
                You plan to migrate several servers from an on-premises network to Azure.
                You need to identify the primary benefit of using a public cloud service for the servers.
                What should you identify?
            </p>

            <input class="form-check-input ml-2" type="radio" name="Question-7D" value="Errado"/>
            <label class="form-check-label ml-4" for="Radios-Question-7">
                A. The public cloud is owned by the public, NOT a private corporation
            </label>
            <br>

            <input class="form-check-input ml-2" type="radio" name="Question-7D" value="Errado"/> 
            <label class="form-check-label ml-4" for="Radios-Question-7">
                B. The public cloud is a crowd-sourcing solution that provides corporations with the ability to enhance the cloud
            </label>
            <br>

            <input class="form-check-input ml-2" type="radio" name="Question-7D" value="Errado"/>
            <label class="form-check-label ml-4" for="Radios-Question-7">
                C. All public cloud resources can be freely accessed by every member of the public
            </label>
            <br>

            <input class="form-check-input ml-2" type="radio" name="Question-7D" value="Correto"/>
            <label class="form-check-label ml-4 correto" for="Radios-Question-7">
                D. The public cloud is a shared entity whereby multiple corporations each use a portion of the resources in the cloud
            </label>
        </div>


        <!--QUESTION 8 NO B-->
        <div class="form-group">
            <h3>QUESTION 8</h3>
            
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
            </p>
            <p class="text-info">
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
            </p>
            <p>
                You plan to deploy several Azure virtual machines.
                You need to ensure that the services running on the virtual machines are available if a single data center fails.
                Solution: You deploy the virtual machines to two or more scale sets.
                Does this meet the goal?
            </p>

            <input class="form-check-input ml-2" type="radio" name="Question-8B" value="Errado"/>
            <label class="form-check-label ml-4" for="Radios-Question-8">
                A. Yes
            </label>
            <br>
            <input class="form-check-input ml-2" type="radio" name="Question-8B" value="Correto"/> 
            <label class="form-check-label ml-4 correto" for="Radios-Question-8">
                B. No
            </label>
        </div>


        <!--QUESTION 9 YES A-->
        <div class="form-group">
            <h3>QUESTION 9</h3>
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
            </p>
            <p class="text-info">
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
            </p>
            <p>
                You plan to deploy several Azure virtual machines
                You need to ensure that the services running on the virtual machines are available if a single data center fails.
                Solution: You deploy the virtual machines to two or more availability zones.
                Does this meet the goal?
            </p>
            <input class="form-check-input ml-2" type="radio" name="Question-9A" value="Correto"/>
            <label class="form-check-label ml-4 correto" for="Radios-Question-9">
                A. Yes
            </label>
            <br>
            <input class="form-check-input ml-2" type="radio" name="Question-9A" value="Errado"/> 
            <label class="form-check-label ml-4" for="Radios-Question-9">
                B. No
            </label>
        </div>


        <!--QUESTION 10 NO B-->
        <div class="form-group">
            <h3>QUESTION 10</h3>
            
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
            </p>
            <p class="text-info">
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
            </p>
            <p>
                You plan to deploy several Azure virtual machines.
                You need to ensure that the services running on the virtual machines are available if a single data center fails.
                Solution: You deploy the virtual machines to two or more regions.
                Does this meet the goal?
            </p>

            <input class="form-check-input ml-2" type="radio" name="Question-10B" value="Errado"/>
            <label class="form-check-label ml-4" for="Radios-Question-10">
                A. Yes
            </label>
            <br>
            <input class="form-check-input ml-2" type="radio" name="Question-10B" value="Correto"/> 
            <label class="form-check-label ml-4 correto" for="Radios-Question-10">
                B. No
            </label>
            
            
            
            
        
        
        
        
        
        
        
        </div>

        <hr>
        <button type="button"  id="btnSubmit" class="btn btn-primary" data-toggle="modal" data-target="#modal-id">
            FINALIZAR TESTE
        </button>

        <button type="button"  id="limparCampos" class="btn btn-primary" >
            LIMPAR CAMPOS
        </button>

        <hr>

        <!-- Modal -->
        <div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="id-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="id-modal-label">RESULTADO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>



                    <div class="modal-body">
                        <div id="resultado"></div>
                        <div class="card border-dark mb-3 ml-3" style="max-width: 22rem;">
                            
                            <div class="card-header">TOTAL DE ACERTOS</div>

                            <div id ="pieChartContent2" class="card-body">
                                <canvas 
                                    id="graficoResultado" 
                                    width="80" 
                                    height="50">
                                </canvas>
                            </div>
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>





        <hr>
    </form>
</div>



































































