<style>
    input {
        margin-left: 1.5rem !important;
    }
    label {
        margin-left: 3rem !important;
    }
</style>
<div id="signupbox" style="margin-top:50px">

    <form id="forms" class="form-horizontal">

        <!--QUESTION 31 A-->
        <div class="form-group">
            <div>
                <h3>QUESTION 31</h3>
                <p class="text-info">
                    DRAG DROP
                </p>
                <p class="text-info">
                    Match the Azure service to the correct definition.
                    Instructions: To answer, drag the appropriate Azure service from the column on the left to its description on the right. Each service may be used once, more than
                    once, or not at all.
                    NOTE: Each correct match is worth one point.
                </p>
                <br>

                <img src="/img/az_quest_31_simul4_01.PNG" class="img-fluid">
                <br>
                <img src="/img/az_quest_31_simul4_02.PNG" class="img-fluid">


                <br>    

                <p class="text-info">
                    Marcar a opção unica.
                </p>

                <input class="form-check-input" type="radio" name="Question-31" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-31">
                    Opção Unica
                </label>
                <br>


            </div>
        </div>

        <!--QUESTION 32 DE-->
        <div class="form-group">
            <div>
                <h3>QUESTION 32</h3>
                <p>
                    You have an Azure environment that contains multiple Azure virtual machines.
                    You plan to implement a solution that enables the client computers on your on-premises network to communicate to the Azure virtual machines.
                    You need to recommend which Azure resources must be created for the planned solution. 
                </p>  
                
                <p>
                    Which two Azure resources should you include in the recommendation? Each correct answer presents part of the solution.
                </p>


                <p class="text-info">
                    NOTE: Each correct selection is worth one point.
                </p>

                <input class="form-check-input" type="radio" name="Question-32(D/E)" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-32">
                    A. a virtual network gateway
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-32(D/E)" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-32">
                    B. a load balancer
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-32(D/E)" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-32">
                    C. an application gateway
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-32(D/E)" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-32">
                    D. a virtual network
                </label>
                <br>
                <input class="form-check-input" type="radio" name="Question-32(D/E)" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-32">
                    E. a gateway subnet
                </label>

            </div>
        </div>

        <!--QUESTION 33 YES B-->
        <div class="form-group">
            <h3>QUESTION 33</h3>
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
            </p>

            <p>
                You have an Azure environment.
                You need to create a new Azure virtual machine from an Android laptop.
                <br>
                Solution: You use Bash in Azure Cloud Shell.
                Does this meet the goal?
            </p>


            <input class="form-check-input" type="radio" name="Question-33" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-33">
                A. Yes
            </label>
            <br>
            <input class="form-check-input" type="radio" name="Question-33" value="Correto"/> 
            <label class="form-check-label correto" for="Radios-Question-33">
                B. No
            </label>
        </div>

        <!--QUESTION 34 B-->
        <div class="form-group">
            <div>
                <h3>QUESTION 34</h3>

                <p>
                    Your company plans to move several servers to Azure.
                    The company’s compliance policy states that a server named FinServer must be on a separate network segment.
                    You are evaluating which Azure services can be used to meet the compliance policy requirements.
                    <br>
                    Which Azure solution should you recommend?
                </p>  

                <input class="form-check-input" type="radio" name="Question-34" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-34">
                    A. a resource group for FinServer and another resource group for all the other servers
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-34" value="Correto"/> 
                <label class="form-check-label correto" for="Radios-Question-34">
                    B. a virtual network for FinServer and another virtual network for all the other servers
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-34" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-34">
                    C. a VPN for FinServer and a virtual network gateway for each other server
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-34" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-34">
                    D. one resource group for all the servers and a resource lock for FinServer
                </label>

            </div>
        </div>

        <!--QUESTION 35 C-->
        <div class="form-group">
            <div>
                <h3>QUESTION 35</h3>

                <p>
                    You plan to map a network drive from several computers that run Windows 10 to Azure Storage. You need to create a storage solution in Azure for the planned
                    mapped drive.
                    <br>
                    What should you create?
                </p>  


                <input class="form-check-input" type="radio" name="Question-35" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-35">
                    A. an Azure SQL database
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-35" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-35">
                    B. a virtual machine data disk
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-35" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-35">
                    C. a Files service in a storage account
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-35" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-35">
                    D. a Blobs service in a storage account
                </label>

            </div>
        </div>

        <!--QUESTION 36 A-->
        <div class="form-group">
            <div>
                <h3>QUESTION 36</h3>
                <p>
                    Your company plans to migrate all its network resources to Azure.
                    You need to start the planning process by exploring Azure.
                    <br>
                    What should you create first?
                </p> 

                <input class="form-check-input" type="radio" name="Question-36" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-36">
                    A. a subscription
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-36" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-36">
                    B. a resource group
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-36" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-36">
                    C. a virtual network
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-36" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-36">
                    D. a management group
                </label>

            </div>
        </div>

        <!--QUESTION 37 A-->
        <div class="form-group">
            <div>
                <h3>QUESTION 37</h3>

                <p>
                    You have an on-premises application that sends email notifications automatically based on a rule.
                    You plan to migrate the application to Azure.
                    You need to recommend a serverless computing solution for the application.
                    <br>
                    What should you include in the recommendation?
                </p>  

                <input class="form-check-input" type="radio" name="Question-37" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-37">
                    A. a web app
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-37" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-37">
                    B. a server image in Azure Marketplace
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-37" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-37">
                    C. a logic app
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-37" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-37">
                    D. an API app
                </label>

            </div>
        </div>

        <!--QUESTION 38 C-->
        <div class="form-group">
            <div>
                <h3>QUESTION 38</h3>

                <p>
                    You plan to deploy a website to Azure. The website will be accessed by users worldwide and will host large video files.
                    You need to recommend which Azure feature must be used to provide the best video playback experience.
                    <br>
                    What should you recommend?
                </p>  


                <input class="form-check-input" type="radio" name="Question-38" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-38">
                    A. an application gateway
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-38" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-38">
                    B. an Azure ExpressRoute circuit
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-38" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-38">
                    C. a content delivery network (CDN)
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-38" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-38">
                    D. an Azure Traffic Manager profile
                </label>

            </div>
        </div>

        <!--QUESTION 39 (B/D)-->
        <div class="form-group">
            <div>
                <h3>QUESTION 39</h3>

                <p>
                    Your company plans to deploy several million sensors that will upload data to Azure.
                    You need to identify which Azure resources must be created to support the planned solution.
                    <br>
                    Which two Azure resources should you identify? Each correct answer presents part of the solution.
                </p> 
                <p class="text-info">
                    NOTE: Each correct selection is worth one point.
                </p>

                <input class="form-check-input" type="radio" name="Question-39(B/D)" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-39">
                    A. Azure Data Lake
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-39(B/D)" value="Correto"/> 
                <label class="form-check-label correto" for="Radios-Question-39">
                    B. Azure Queue storage
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-39(B/D)" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-39">
                    C. Azure File Storage
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-39(B/D)" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-39">
                    D. Azure IoT Hub
                </label>
                <br>
                <input class="form-check-input" type="radio" name="Question-39(B/D)" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-39">
                    E. Azure Notification Hubs
                </label>

            </div>
        </div>

        <!--QUESTION 40 (A/C)-->
        <div class="form-group">
            <div>
                <h3>QUESTION 40</h3>
                <p>
                    You have an Azure web app.
                    You need to manage the settings of the web app from an iPhone.
                    <br>
                    What are two Azure management tools that you can use? Each correct answer presents a complete solution.
                </p>  

                <p class="text-info">
                    NOTE: Each correct selection is worth one point.
                </p>

                <input class="form-check-input" type="radio" name="Question-40(A/C)" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-40">
                    A. Azure CLI
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-40(A/C)" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-40">
                    B. the Azure portal
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-40(A/C)" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-40">
                    C. Azure Cloud Shell
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-40(A/C)" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-40">
                    D. Windows PowerShell
                </label>
                <br>
                <input class="form-check-input" type="radio" name="Question-40(A/C)" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-40">
                    E. Azure Storage Explorer
                </label>

            </div>
        </div>
    




        
        <hr>
        <button type="button"  id="btnSubmit" class="btn btn-primary" data-toggle="modal" data-target="#modal-id">
            FINALIZAR TESTE
        </button>

        <button type="button"  id="limparCampos" class="btn btn-primary" >
            LIMPAR CAMPOS
        </button>

        <hr>

        <!-- Modal -->
        <div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="id-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="id-modal-label">RESULTADO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>



                    <div class="modal-body">
                        <div id="resultado"></div>
                        <div class="card border-dark mb-3 ml-3" style="max-width: 22rem;">
                            
                            <div class="card-header">TOTAL DE ACERTOS</div>

                            <div id ="pieChartContent2" class="card-body">
                                <canvas 
                                    id="graficoResultado" 
                                    width="80" 
                                    height="50">
                                </canvas>
                            </div>
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        <hr>
    </form>
</div>

