<style>
    input {
        margin-left: 1.5rem !important;
    }
    label {
        margin-left: 3rem !important;
    }
</style>

<div id="signupbox" style="margin-top:50px"></div>
    <form id="forms" class="form-horizontal">

        <!--QUESTION 41 A-->
        <div class="form-group">
            <div>
                <h3>QUESTION 41</h3>

                <p class="text-info">
                    This question requires that you evaluate the underlined text to determine if it is correct.
                </p> 


                <p>
                    You have an application that is comprised of an Azure web app that has a Service Level Agreement (SLA) of 99.95 percent and an Azure SQL database that has an
                    SLA of 99.99 percent.
                    The composite SLA for the application is <u>the product of both SLAs, which equals 99.94 percent.</u>
                </p>


                <p class="text-info">
                    Instructions: Review the underlined text. If it makes the statement correct, select “No change is needed”. If the statement is incorrect, select the answer choice that
                    makes the statement correct.
                </p> 

                <input class="form-check-input" type="radio"  name="Question-41A" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-41">
                   A. No change is needed
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-41A" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-41">
                    B. the lowest SLA associated to the application, which is 99.95 percent
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-41A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-41">
                    C. the highest SLA associated to the application, which is 99.99 percent
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-41A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-41">
                    D. the difference between the two SLAs, which is 0.05 percent
                </label>

            </div>
        </div>
        

        <!--QUESTION 42 D-->
        <div class="form-group">
            <div>
                <h3>QUESTION 42</h3>

                <p class="text-info">
                    This question requires that you evaluate the underlined text to determine if it is correct.
                </p> 

                <p>
                    Data that is stored in the Archive access tier of an Azure Storage account <u>can be accessed at any time by using azcopy.exe.</u>
                </p>
       
                <p class="text-info">
                Instructions: Review the underlined text. If it makes the statement correct, select 
                “No change is needed”. If the statement is incorrect, select the answer choice that
                makes the statement correct.
                </p> 

                <input class="form-check-input" type="radio"  name="Question-42D" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-42">
                    A. No change is needed.
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-42D" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-42">
                    B. can only be read by using Azure Backup
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-42D" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-42">
                    C. must be restored before the data can be accessed
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-42D" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-42">
                    D. must be rehydrated before the data can be accessed
                </label>

            </div>
        </div>
        

        <!--QUESTION 43 B-->
        <div class="form-group">
            <div>
                <h3>QUESTION 43</h3>

                <p class="text-info">
                    Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                    meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
                    <br>After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
                </p> 

                <p>
                    Your Azure environment contains multiple Azure virtual machines.
                    <br>You need to ensure that a virtual machine named VM1 is accessible from the Internet over HTTP.
                    <br>Solution: You modify a DDoS protection plan.
                    Does this meet the goal?
                </p>


                <input class="form-check-input" type="radio" name="Question-43B" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-43">
                    A. Yes
                </label>
                <br>
                <input class="form-check-input" type="radio" name="Question-43B" value="Correto"/> 
                <label class="form-check-label correto" for="Radios-Question-43">
                    B. No
                </label>

            </div>
        </div>
        

        <!--QUESTION 44 YES A-->
        <div class="form-group">
            <h3>QUESTION 44</h3>
            
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
                <br>After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
            </p>
            <p>          
                Your Azure environment contains multiple Azure virtual machines.
                <br>You need to ensure that a virtual machine named VM1 is accessible from the Internet over HTTP.
                <br>Solution: You modify an Azure firewall.
                Does this meet the goal?
            </p>

            <input class="form-check-input" type="radio" name="Question-44A" value="Correto"/>
            <label class="form-check-label correto" for="Radios-Question-44">
                A. Yes
            </label>
            <br>
            <input class="form-check-input" type="radio" name="Question-44A" value="Errado"/> 
            <label class="form-check-label" for="Radios-Question-44">
                B. No
            </label>
        </div>


        <!--QUESTION 45 NO B-->
        <div class="form-group">
            <h3>QUESTION 45</h3>
            
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
                <br>After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen.
            </p>

            <p>
                Your Azure environment contains multiple Azure virtual machines.
                <br>You need to ensure that a virtual machine named VM1 is accessible from the Internet over HTTP.
                <br>Solution: You modify an Azure Traffic Manager profile.
                Does this meet the goal?
            </p>

            <input class="form-check-input" type="radio" name="Question-45B" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-45">
                A. Yes
            </label>
            <br>
            <input class="form-check-input" type="radio" name="Question-45B" value="Correto"/> 
            <label class="form-check-label correto" for="Radios-Question-45">
                B. No
            </label>
        </div>


        <!--QUESTION 46 (C-D)-->
        <div class="form-group">
            <h3>QUESTION 46</h3>

            <p>
                Which two types of customers are eligible to use Azure Government to develop a cloud solution? Each correct answer presents a complete solution.
            </p>
            <p class="text-info">
                NOTE: Each correct selection is worth one point.
            </p> 


            <input class="form-check-input" type="radio" name="Question-46(C-D)" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-46">
                A. a Canadian government contractor
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-46(C-D)" value="Errado"/> 
            <label class="form-check-label" for="Radios-Question-46">
                B. a European government contractor
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-46(C-D)" value="Correto"/>
            <label class="form-check-label correto" for="Radios-Question-46">
                C. a United States government entity
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-46(C-D)" value="Correto"/>
            <label class="form-check-label correto" for="Radios-Question-46">
               D. a United States government contractor
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-46(C-D)" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-46">
                E. a European government entity
            </label>
        </div>


        <!--QUESTION 47 D -->
        <div class="form-group">
            <div>
                <h3>QUESTION 47</h3>

                <p>
                    You need to ensure that when Azure Active Directory (Azure AD) users connect to Azure AD from the Internet by using an anonymous IP address, the users are
                    prompted automatically to change their password.
                    <br>Which Azure service should you use?
                </p>

                <input class="form-check-input" type="radio"  name="Question-11A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-11">
                    A. Azure AD Connect Health
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-11A" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-11">
                    B. Azure AD Privileged Identity Management
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-11A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-11">
                    C. Azure Advanced Threat Protection (ATP)
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-11A" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-11">
                    D. Azure AD Identity Protection
                </label>

            </div>
        </div>


        <!--QUESTION 48 A-->
        <div class="form-group">
            <div>
                <h3>QUESTION 48</h3>

                <p>
                    Your company plans to deploy several web servers and several database servers to Azure.
                    <br>You need to recommend an Azure solution to limit the types of connections from the web servers to the database servers.
                    <br>What should you include in the recommendation?
                </p>

                <input class="form-check-input" type="radio"  name="Question-48A" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-48">
                   A. network security groups (NSGs)
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-48A" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-48">
                    B. Azure Service Bus
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-48A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-48">
                    C. a local network gateway
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-48A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-48">
                    D. a route filter
                </label>

            </div>
        </div>
        

        <!--QUESTION 49 A-->
        <div class="form-group">
            <div>
                <h3>QUESTION 49</h3>

                <p>
                    To what should an application connect to retrieve security tokens?
                </p>

                <input class="form-check-input" type="radio"  name="Question-49B" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-49">
                    A. an Azure Storage account
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-49B" value="Correto"/> 
                <label class="form-check-label correto" for="Radios-Question-49">
                    B. Azure Active Directory (Azure AD)
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-49B" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-49">
                    C. a certificate store
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-49B" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-49">
                    D. an Azure key vault
                </label>

            </div>
        </div>
        

        <!--QUESTION 50 C-->
        <div class="form-group">
            <div>
                <h3>QUESTION 50</h3>

                <p class="text-info">
                    This question requires that you evaluate the underlined text to determine if it is correct.
                </p> 

                <p>
                    <u>Resource groups</u> provide organizations with the ability to manage the compliance of Azure resources across multiple subscriptions.
                </p>
                
                <p class="text-info">
                    Instructions: Review the underlined text. If it makes the statement correct, select “No change is needed”. If the statement is incorrect, select the answer choice that
                    makes the statement correct.
                </p> 

                <input class="form-check-input" type="radio"  name="Question-50C" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-50">
                    A. No change is needed
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-50C" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-50">
                    B. Management groups
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-50C" value="Correto"/>
                <label class="form-check-label correto" for="Radios-Question-50">
                    C. Azure policies
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-50C" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-50">
                    D. Azure App Service plans
                </label>

            </div>
        </div>
        

        <hr>
        <button type="button"  id="btnSubmit" class="btn btn-primary" data-toggle="modal" data-target="#modal-id">
            FINALIZAR TESTE
        </button>

        <button type="button"  id="limparCampos" class="btn btn-primary" >
            LIMPAR CAMPOS
        </button>

        <hr>

        <!-- Modal -->
        <div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="id-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="id-modal-label">RESULTADO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>



                    <div class="modal-body">
                        <div id="resultado"></div>
                        <div class="card border-dark mb-3 ml-3" style="max-width: 22rem;">
                            
                            <div class="card-header">TOTAL DE ACERTOS</div>

                            <div id ="pieChartContent2" class="card-body">
                                <canvas 
                                    id="graficoResultado" 
                                    width="80" 
                                    height="50">
                                </canvas>
                            </div>
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <hr>
    </form>
</div>


