<style>
    input {
        margin-left: 1.5rem !important;
    }
    label {
        margin-left: 3rem !important;
    }
</style>
        <div id="signupbox" style="margin-top:50px"></div>
            <form id="forms" class="form-horizontal">

                <!--QUESTION 11 A-->
                <div class="form-group">
                    <div>
                        <h3>QUESTION 11</h3>

						<p>
                            You have 1,000 virtual machines hosted on the Hyper-V hosts in a data center.
                            You plan to migrate all the virtual machines to an Azure pay-as-you-go subscription.
                            You need to identify which expenditure model to use for the planned Azure solution.
                        </p>

                        <p>
                            Which expenditure model should you identify?
                        </p>

                        <input class="form-check-input" type="radio"  name="Question-11A" value="Correto"/>
                        <label class="form-check-label correto" for="Radios-Question-11">
                            A. operational
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-11A" value="Errado"/> 
                        <label class="form-check-label" for="Radios-Question-11">
                            B. elastic
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-11A" value="Errado"/>
                        <label class="form-check-label" for="Radios-Question-11">
                            C. capital
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-11A" value="Errado"/>
                        <label class="form-check-label" for="Radios-Question-11">
                            D. scalable
                        </label>

                    </div>
                </div>


                <!--QUESTION 12 (A-C)-->
                <div class="form-group">
                    <h3>QUESTION 12</h3>

                    <p>
                        Your company has an on-premises network that contains multiple servers.
                        The company plans to reduce the following administrative responsibilities of network administrators:
                        <br>
                        - Backing up application data
                        <br>
                        - Replacing failed server hardware
                        <br>
                        - Managing physical server security 
                        <br>
                        - Updating server operating systems
                        <br>
                        - Managing permissions to shared documents
                        <br>
                        The company plans to migrate several servers to Azure virtual machines.
                        You need to identify which administrative responsibilities will be reduced after the planned migration.
                        Which two responsibilities should you identify? Each correct answer presents a complete solution.
                    </p>
                    <p class="text-info">
                        NOTE: Each correct selection is worth one point.
                    </p> 


                    <input class="form-check-input" type="radio" name="Question-12(A-C)" value="Correto"/>
                    <label class="form-check-label correto" for="Radios-Question-12">
                        A. Replacing failed server hardware
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-12(A-C)" value="Errado"/> 
                    <label class="form-check-label" for="Radios-Question-12">
                        B. Backing up application data
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-12(A-C)" value="Correto"/>
                    <label class="form-check-label correto" for="Radios-Question-12">
                        C. Managing physical server security
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-12(A-C)" value="Errado"/>
                    <label class="form-check-label" for="Radios-Question-12">
                        D. Updating server operating systems
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-12(A-C)" value="Errado"/>
                    <label class="form-check-label" for="Radios-Question-12">
                        E. Managing permissions to shared documents
                    </label>
                </div>


                <!--QUESTION 13 B-->
                <div class="form-group">
                    <h3>QUESTION 13</h3>
                    <p>
                        You plan to provision Infrastructure as a Service (IaaS) resources in Azure.
                        Which resource is an example of IaaS?
                    </p>

                    <input class="form-check-input" type="radio" name="Question-13B" value="Errado"/>
                    <label class="form-check-label" for="Radios-Question-13">
                        A. an Azure web app
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-13B" value="Correto"/> 
                    <label class="form-check-label correto" for="Radios-Question-13">
                        B. an Azure virtual machine
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-13B" value="Errado"/>
                    <label class="form-check-label" for="Radios-Question-13">
                        C. an Azure logic app
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-13B" value="Errado"/>
                    <label class="form-check-label" for="Radios-Question-13">
                        D. an Azure SQL database
                    </label>
                </div>


                <!--QUESTION 14 B-->
                <div class="form-group">
                    <h3>QUESTION 14</h3>
                    <p>
                        HOTSPOT
                    </p>
                    <p>
                        Several support engineers plan to manage Azure by using the computers shown in the following table:
                    </p>
                    <img src="/img/az_quest_14_simul2.PNG" alt="">
                    <p>You need to identify which Azure management tools can be used from each computer.
                        What should you identify for each computer? To answer, select the appropriate options in the answer area.
                    </p>
                    <p class="text-info">
                        NOTE: Each correct selection is worth one point.
                    </p>
                    <p>Hot Area:</p>

                    <img src="/img/az_quest_14_simul2_02.PNG" alt="">

                    <br>
                    <input class="form-check-input" type="radio" name="Question-14(Unica)" value="Correto"/> 
                    <label class="form-check-label correto" for="Radios-Question-14">
                        A. Questão de selecionar na imagem (marque esta opção)
                    </label>
                    <br>


                </div>


                <!--QUESTION 15 C-->
                <div class="form-group">
                    <h3>QUESTION 15</h3>

                    <p  class="text-info">
                        This question requires that you evaluate the underlined text to determine if it is correct.
                    </p>
                    <p>
                        <u>Azure policies provide</u> a common platform for deploying objects to a cloud infrastructure and for implementing consistency across the Azure environment.        
                    </p>
                    <p class="text-info">
                        Instructions: Review the underlined text. If it makes the statement correct, select “No change is needed”. If the statement is incorrect, select the answer choice that
                        makes the statement correct.
                    </p> 

                    <input class="form-check-input" type="radio" name="Question-15C" value="Errado"/>
                    <label class="form-check-label" for="Radios-Question-15">
                        A. No change is needed
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-15C" value="Errado"/> 
                    <label class="form-check-label" for="Radios-Question-15">
                        B. Resource groups provide
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-15C" value="Correto"/>
                    <label class="form-check-label correto" for="Radios-Question-15">
                        C. Azure Resource Manager provides
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-15C" value="Errado"/>
                    <label class="form-check-label" for="Radios-Question-15">
                        D. Management groups provide
                    </label>
                </div>
               

                <!--QUESTION 16 A-->
                <div class="form-group">
                    <div>
                        <h3>QUESTION 16</h3>

						<p>
                            Your company has several business units.
                            Each business unit requires 20 different Azure resources for daily operation. All the business units require the same type of Azure resources.
                            You need to recommend a solution to automate the creation of the Azure resources.
                        </p>
                        <p>
                            What should you include in the recommendations?
                        </p>

                        <input class="form-check-input" type="radio" name="Question-16A" value="Correto"/>
                        <label class="form-check-label correto" for="Radios-Question-16">
                            A. Azure Resource Manager templates
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-16A" value="Errado"/> 
                        <label class="form-check-label" for="Radios-Question-16">
                            B. virtual machine scale sets
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-16A" value="Errado"/>
                        <label class="form-check-label" for="Radios-Question-16">
                            C. the Azure API Management service
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-16A" value="Errado"/>
                        <label class="form-check-label" for="Radios-Question-16">
                            D. management groups
                        </label>

                    </div>
                </div>


                <!--QUESTION 17 D-->
                <div class="form-group">
                    <h3>QUESTION 17</h3>
                    <p>
                        Which Azure service should you use to correlate events from multiple resources into a centralized repository?
                    </p>

                    <input class="form-check-input" type="radio" name="Question-17D" value="Errado"/>
                    <label class="form-check-label" for="Radios-Question-17">
                        A. Azure Event Hubs
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-17D" value="Errado"/> 
                    <label class="form-check-label" for="Radios-Question-17">
                        B. Azure Analysis Services
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-17D" value="Errado"/>
                    <label class="form-check-label" for="Radios-Question-17">
                        C. Azure Monitor
                    </label>
                    <br>

                    <input class="form-check-input" type="radio" name="Question-17D" value="Correto"/>
                    <label class="form-check-label correto" for="Radios-Question-17">
                        D. Azure Log Analytics
                    </label>
                </div>


                <!--QUESTION 18 NO B-->
                <div class="form-group">
                    <h3>QUESTION 18</h3>
                    
                    <p class="text-info">
                        Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                        meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
                    </p>
                    <p class="text-info">
                        After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen. 
                    </p>
                    <p>
                        You have an Azure environment. You need to create a new Azure virtual machine from an Android laptop.
                    <p>
                    <p>
                        Solution: You use the PowerApps portal. 
                    </p>
                    <p>
                        Does this meet the goal? 
                    </p>

                    <input class="form-check-input" type="radio" name="Question-18B" value="Errado"/>
                    <label class="form-check-label" for="Radios-Question-18">
                        A. Yes
                    </label>
                    <br>
                    <input class="form-check-input" type="radio" name="Question-18B" value="Correto"/> 
                    <label class="form-check-label correto" for="Radios-Question-18">
                        B. No
                    </label>
                </div>


                <!--QUESTION 19 A-->
                <div class="form-group">
                    <div>
                        <h3>QUESTION 19</h3>

						<p class="text-info">
                            This question requires that you evaluate the underlined text to determine if it is correct.
                        </p>

                        <p>
                            An Azure region <u>contains one or more data centers that are connected by using a low-latency network.</u>
                        </p>

                        <p class="text-info">
                            Instructions: Review the underlined text. If it makes the statement correct, select “No change is needed”. If the statement is incorrect, select the answer choice that
                            makes the statement correct.
                        </p>



                        <input class="form-check-input" type="radio" name="Question-19A" value="Correto"/>
                        <label class="form-check-label correto" for="Radios-Question-19">
                            A. No change is needed
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-19A" value="Errado"/> 
                        <label class="form-check-label" for="Radios-Question-19">
                            B. Is found in each country where Microsoft has a subsidiary office
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-19A" value="Errado"/>
                        <label class="form-check-label" for="Radios-Question-19">
                            C. Can be found in every country in Europe and the Americas only
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-19A" value="Errado"/>
                        <label class="form-check-label" for="Radios-Question-19">
                            D. Contains one or more data centers that are connect by using a high-latency network
                        </label>

                    </div>
                </div>

                

                <!--QUESTION 20 A-->
                <div class="form-group">
                    <div>
                        <h3>QUESTION 20</h3>

						<p class="text-info">
                            This question requires that you evaluate the underlined text to determine if it is correct.
                        </p>

                        <p>
                            You plan to deploy 20 virtual machines to an Azure environment. To ensure that a virtual machine named VM1 cannot connect to the other virtual machines, VM1
                            must <u>be deployed to a separate virtual network.</u>
                        </p>

                        <p class="text-info">
                            Instructions: Review the underlined text. If it makes the statement correct, select “No change is needed”. If the statement is incorrect, select the answer choice that
                            makes the statement correct.
                        </p>



                        <input class="form-check-input" type="radio" name="Question-20A" value="Correto"/>
                        <label class="form-check-label correto" for="Radios-Question-20">
                            A. No change is needed
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-20A" value="Errado"/> 
                        <label class="form-check-label" for="Radios-Question-20">
                            B. run a different operating system than the other virtual machines
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-20A" value="Errado"/>
                        <label class="form-check-label" for="Radios-Question-20">
                            C. be deployed to a separate resource group
                        </label>
                        <br>

                        <input class="form-check-input" type="radio" name="Question-20A" value="Errado"/>
                        <label class="form-check-label" for="Radios-Question-20">
                            D. have two network interfaces
                        </label>

                    </div>
                </div>


                <hr>
                <button type="button"  id="btnSubmit" class="btn btn-primary" data-toggle="modal" data-target="#modal-id">
                    FINALIZAR TESTE
                </button>

                <button type="button"  id="limparCampos" class="btn btn-primary" >
                    LIMPAR CAMPOS
                </button>

                <hr>

                <!-- Modal -->
                <div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="id-modal-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="id-modal-label">RESULTADO</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>



                            <div class="modal-body">
                                <div id="resultado"></div>
                                <div class="card border-dark mb-3 ml-3" style="max-width: 22rem;">
                                    
                                    <div class="card-header">TOTAL DE ACERTOS</div>

                                    <div id ="pieChartContent2" class="card-body">
                                        <canvas 
                                            id="graficoResultado" 
                                            width="80" 
                                            height="50">
                                        </canvas>
                                    </div>
                                </div>
                            </div>



                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <hr>
            </form>
        </div>




































































