<style>
    input {
        margin-left: 1.5rem !important;
    }
    label {
        margin-left: 3rem !important;
    }
</style>

        <!--QUESTION 11 A
        <div class="form-group">
            <div>
                <h3>QUESTION 11</h3>

                <p class="text-info">

                </p> 



                <p>

                </p>



                <p>

                </p>


                
                <p class="text-info">

                </p> 

                <input class="form-check-input" type="radio"  name="Question-11A" value="Correto"/>
                <label class="form-check-label" for="Radios-Question-11">
                    A. operational
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-11A" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-11">
                    B. elastic
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-11A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-11">
                    C. capital
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-11A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-11">
                    D. scalable
                </label>

            </div>
        </div>
        -->

        <!--QUESTION 12 (A-C)
        <div class="form-group">
            <h3>QUESTION 12</h3>

            <p>
                Your company has an on-premises network that contains multiple servers.
                The company plans to reduce the following administrative responsibilities of network administrators:
                <br>
                - Backing up application data
                <br>
                - Replacing failed server hardware
                <br>
                - Managing physical server security 
                <br>
                - Updating server operating systems
                <br>
                - Managing permissions to shared documents
                <br>
                The company plans to migrate several servers to Azure virtual machines.
                You need to identify which administrative responsibilities will be reduced after the planned migration.
                Which two responsibilities should you identify? Each correct answer presents a complete solution.
            </p>
            <p class="text-info">
                NOTE: Each correct selection is worth one point.
            </p> 


            <input class="form-check-input" type="radio" name="Question-12(A-C)" value="Correto"/>
            <label class="form-check-label" for="Radios-Question-12">
                A. Replacing failed server hardware
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-12(A-C)" value="Errado"/> 
            <label class="form-check-label" for="Radios-Question-12">
                B. Backing up application data
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-12(A-C)" value="Correto"/>
            <label class="form-check-label" for="Radios-Question-12">
                C. Managing physical server security
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-12(A-C)" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-12">
                D. Updating server operating systems
            </label>
            <br>

            <input class="form-check-input" type="radio" name="Question-12(A-C)" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-12">
                E. Managing permissions to shared documents
            </label>
        </div>
        -->

        <!--QUESTION 18 NO B
        <div class="form-group">
            <h3>QUESTION 18</h3>
            
            <p class="text-info">
                Note: This question is part of a series of questions that present the same scenario. Each question in the series contains a unique solution that might
                meet the stated goals. Some question sets might have more than one correct solution, while others might not have a correct solution.
            </p>
            <p class="text-info">
                After you answer a question in this section, you will NOT be able to return to it. As a result, these questions will not appear in the review screen. 
            </p>
            <p>
                You have an Azure environment. You need to create a new Azure virtual machine from an Android laptop.
            <p>
            <p>
                Solution: You use the PowerApps portal. 
            </p>
            <p>
                Does this meet the goal? 
            </p>

            <input class="form-check-input" type="radio" name="Question-18B" value="Errado"/>
            <label class="form-check-label" for="Radios-Question-18">
                A. Yes
            </label>
            <br>
            <input class="form-check-input" type="radio" name="Question-18B" value="Correto"/> 
            <label class="form-check-label" for="Radios-Question-18">
                B. No
            </label>
        </div>
        -->


<div id="signupbox" style="margin-top:50px"></div>
    <form id="forms" class="form-horizontal">

        <!--QUESTION 41 A-->
        <div class="form-group">
            <div>
                <h3>QUESTION 41</h3>

                <p class="text-info">
                    This question requires that you evaluate the underlined text to determine if it is correct.
                </p> 


                <p>
                    You have an application that is comprised of an Azure web app that has a Service Level Agreement (SLA) of 99.95 percent and an Azure SQL database that has an
                    SLA of 99.99 percent.
                    The composite SLA for the application is <u>the product of both SLAs, which equals 99.94 percent.</u>
                </p>


                <p class="text-info">
                    Instructions: Review the underlined text. If it makes the statement correct, select “No change is needed”. If the statement is incorrect, select the answer choice that
                    makes the statement correct.
                </p> 

                <input class="form-check-input" type="radio"  name="Question-41A" value="Correto"/>
                <label class="form-check-label" for="Radios-Question-41">
                   A. No change is needed
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-41A" value="Errado"/> 
                <label class="form-check-label" for="Radios-Question-41">
                    B. the lowest SLA associated to the application, which is 99.95 percent
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-41A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-41">
                    C. the highest SLA associated to the application, which is 99.99 percent
                </label>
                <br>

                <input class="form-check-input" type="radio" name="Question-41A" value="Errado"/>
                <label class="form-check-label" for="Radios-Question-41">
                    D. the difference between the two SLAs, which is 0.05 percent
                </label>

            </div>
        </div>
        




        <hr>

        <button type="button"  id="btnSubmit" class="btn btn-primary" data-toggle="modal" data-target="#modal-id">
            FINALIZAR TESTE
        </button>

        <button type="button"  id="limparCampos" class="btn btn-primary" >
            LIMPAR CAMPOS
        </button>

        <hr>

        <!-- Modal -->
        <div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="id-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="id-modal-label">RESULTADO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>



                    <div class="modal-body">
                        <div id="resultado"></div>
                        <div class="card border-dark mb-3 ml-3" style="max-width: 22rem;">
                            
                            <div class="card-header">TOTAL DE ACERTOS</div>

                            <div id ="pieChartContent2" class="card-body">
                                <canvas 
                                    id="graficoResultado" 
                                    width="80" 
                                    height="50">
                                </canvas>
                            </div>
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        <hr>
    </form>
</div>
