<!doctype html>
<html lang="pt">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Azure-Questions</title>
  </head>
  <body>
    <div class="container">
      <div class="pos-f-t">
          <nav class="navbar navbar-dark bg-dark">

              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="dropdown-menu bg-secondary" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/">Voltar</a>
                  </div>
              </div>

          </nav>


          <h2>BUSCAR TUDO</h2>
          <button onclick="get()">BUSCAR</button>
          <div id=mensagem>

          </div>

          <h2>BUSCA POR NOME</h2>

          <label for="nome">Nome:</label><br>
          <input type="text" id="nome" name="nome"><br>
          <button onclick="getName()">BUSCAR</button>
          <div id=mensagem2>

          </div>
          <br>
          <br>

          <button onclick="limpar()">LIMPAR</button>

      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>

    <script src="js/list.js" ></script>

  
  </body>
</html>